/*Reset*/
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/*General*/
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  min-height: 100%;
  
}
._container {
  width: 80%;
  max-width: 1610px;
  margin: 0 auto;
}

/*------Header-------*/

.header {
  padding: 85px 0 105px 0;
  width: 100%;
  z-index: 2;
  /* position: fixed; */
  background-color: #fff;
  
}
.min_container {
 display: flex;
 justify-content: space-between;
 align-items: center;
  
} 
.logo{
  display: flex;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  column-gap: 85px;
}
.list_item {
}
.item_link {
  position: relative;
  font-weight: 400;
  font-size: 25px;
  color: #404242;
}
.item_link:hover{
  color: #58A9A5;
  text-transform: capitalize;
}
.item_link::after{
  position: absolute;
  content:'';
  display: inline-block;
  width: 48px;
  height: 6px;
  background: #FEC62D;
  border-radius: 21px;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.5s ease;
}
.item_link:hover::after{
  opacity: 1;
}

.btn {
  background-color: rgba(88, 169, 165, 1);
  padding: 20px 80px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  font-size: 25px;
}

.logo_link {
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58A9A5;
  margin-left: 10px;
}

.heder_logo {
  display: flex;
  align-items: center;
}

.home {
  padding-top: 205px;
  display: flex;
}
.home_content{
  padding-top: 100px;
}

.section_title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  margin-bottom: 50px;
}

.section_p {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 50px;
}

.corner{
  border-radius: 20px 20px 20px 0px;
  display: inline-block;
}

.home_btn{
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

.container{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

.home_img{
  position: relative;
  padding-top: 10px;
}

.interior_img{
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

.bg_img{
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
}

.center {
  text-align: center;
}

.how_it_works_video {
  font-size: 0;
}

.video_content {
  width: 60%;
  /* font-size: 0; */
}

.video_content img {
  width: 100%;
}

.video_text {
  width: 40%;
}

.video_content, .video_text {
  display: inline-block;
  /* font-size: 0; */
}
 .video_text_p {
  font-size: 16px;
 }
